<div class="row">
  <div class="col-md-12">
    <div class="well">
      <form action="#" id="add-new">
        <div class="form-group">
          <label for="new-task">New task</label>
          <input type="text" class="form-control input-sm" id="new-task" placeholder="Enter task name" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-sm btn-success">Add new task</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h2 class="panel-title">Pending</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group" id="pending"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">In progress</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group" id="in-progress"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title">Finished</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group" id="finished"></ul>
      </div>
    </div>
  </div>
</div>