<div class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title">Not found</h2>
  </div>
  <div class="panel-body">
    <p>Page not found</p>
    <a href="#/" class="btn btn-sm btn-success">Go home</a>
  </div>
</div>