.remove {
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
}
.list-group-item {
  cursor: move;
}
#finished .list-group-item {
  cursor: not-allowed;
}
.list-group-item:hover .remove {
  display: block;
}
.list-group {
  border: 2px solid transparent;
  border-radius: 5px;
}
.list-group:empty {
  min-height: 30px;
  border: 1px dotted #ccc;
}
.list-group.dragover {
  border-color: green !important;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}